<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>EDS | Welcome</title>


    <!-- JQUERY -->
    <script src="client/js/lib/jquery.min.js"></script>

    <!-- WEBSITE CUSTOMIZATION -->
    <link rel="stylesheet" href="client/css/style/style.css">

    <!-- WEBSITE CUSTOMIZATION -->
    <link rel="stylesheet" href="client/css/style/scrollbar.css">

    <!-- BULMA CSS(RESPONSIVE FRAMEWORK) -->
    <link rel="stylesheet" href="client/css/bulma/bulma.min.css">

    <!-- BUEFY -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

    <!-- BULMA DIVIDER -->
    <link href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css" rel="stylesheet">

    <!-- BULMA PAGELOADER -->
    <link href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css" rel="stylesheet">

    <!-- ANIMATE ON SCROLL -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- ANIMATE.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f1ead0569a.js" crossorigin="anonymous"></script>

    <script src="static/footer.js"></script> 
  </head>
  <body>
    <div id="index_page">
      <!-- DIFFERENT NAVIGATION BECAUSE WE DON'T REALLY USE VUE HERE SO WE CAN'T USE THE BUEFY EXTENSION -->
      <nav class="navbar" role="navigation" aria-label="main navigation" data-aos="fade-down" data-aos-duration="1000">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="client/photos/logo.png">
          </a>
          <a class="navbar-item" href="#Despre">
            Despre
          </a>
          <a class="navbar-item" href="#Contact">
            Contact
          </a>
        </div>
      </nav>

      <section class="hero is-white is-fullheight" id="Acasa">
        <div class="hero-body">
          <div class="container">
            <div class="columns  is-vcentered reverse-columns">
              <div class="column is-6-desktop is-6-widescreen is-6-tablet is-12-mobile">
                <h1 class="title titled is-1 mb-6" data-aos="fade-left" data-aos-duration="600">
                  Easy driving school
                </h1>
                <h1 style="font-size:1.5rem" data-aos="fade-right" data-aos-duration="600" data-aos-delay="600">
                  <span id="text_typewriter"></span>
                </h1>
                <br>
                <br>
                <a tag="a" href="#Contact" class="button is-success is-outlined" data-aos="fade-up" data-aos-duration="600" data-aos-delay="1200">
                  <span>Colaboreaza cu noi</span>
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                </a>
                <a tag="a" href="login.php" class="button is-warning is-outlined" data-aos="fade-down" data-aos-duration="600" data-aos-delay="1200">
                  <span>Contul tau</span>
                  <span class="icon is-small">
                    <i class="fas fa-user"></i>
                  </span>
                </a>
              </div>
              <div class="column is-3-desktop is-3-widescreen is-6-tablet is-5-mobile is-offset-1-fullhd" data-aos="fade-right" data-aos-duration="600" data-aos-delay="1200">
                <figure class="is-vcentered image is-square is-hidden-mobile">
                  <img src="client/photos/section_1.svg">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="Despre">
        <div class="container">
          <div class="columns m-6">
            <div class="column is-3-desktop is-3-widescreen is-3-tablet is-12-mobile">
              <div class="card glow_fade" data-aos="fade-up" data-aos-duration="600" style="min-height:100%;max-height: 100%;">
                <div class="card-image">
                  <center><figure class="image is-128x128" data-aos="zoom-out-down" data-aos-duration="600" data-aos-delay="600">
                    <img src="client/photos/planet.svg" alt="Placeholder image">
                  </figure></center>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" data-aos="zoom-out-up" data-aos-duration="600" data-aos-delay="1200">
                      <center>
                      <p class="title is-4">Accesibil de oriunde</p>
                      <p class="subtitle is-6">Il poti accesa de oriunde !</p>
                    <br></center>
                    </div>
                  </div>
              
                </div>
              </div>
            </div>
            <div class="column is-3-desktop is-3-widescreen is-3-tablet is-12-mobile">
              <div class="card glow_fade" data-aos="fade-up" data-aos-duration="600" style="min-height:100%;max-height: 100%;">
                <div class="card-image">
                  <center><figure class="image is-128x128" data-aos="zoom-out-down" data-aos-duration="600" data-aos-delay="600">
                    <img src="client/photos/computer.svg" alt="Placeholder image">
                  </figure></center>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" data-aos="zoom-out-up" data-aos-duration="600" data-aos-delay="1200">
                      <center>
                      <p class="title is-4">Design intuitiv !</p>
                      <p class="subtitle is-6">Culori foarte placute !</p>
                      <br>
                    </center>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
            <div class="column is-3-desktop is-3-widescreen is-3-tablet is-12-mobile">
              <div class="card glow_fade" data-aos="fade-up" data-aos-duration="600" style="min-height:100%;max-height: 100%;">
                <div class="card-image">
                  <center><figure class="image is-128x128" data-aos="zoom-out-down" data-aos-duration="600" data-aos-delay="600">
                    <img src="client/photos/user.svg" alt="Placeholder image">
                  </figure></center>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" data-aos="zoom-out-up" data-aos-duration="600" data-aos-delay="1200">
                      <center>
                      <p class="title is-4">Conturi diferite</p>
                      <p class="subtitle is-6">Mai multe tipuri de conturi!</p>
                      <br>
                    </center>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
            <div class="column is-3-desktop is-3-widescreen is-3-tablet is-12-mobile">
              <div class="card glow_fade" data-aos="fade-up" data-aos-duration="600" style="min-height:100%;max-height: 100%;">
                <div class="card-image">
                  <br>
                  <center><figure class="image is-128x128" data-aos="zoom-out-down" data-aos-duration="600" data-aos-delay="600">
                    <img src="client/photos/book.svg" alt="Placeholder image">
                  </figure></center>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" data-aos="zoom-out-up" data-aos-duration="600" data-aos-delay="1200">
                      <center>
                      <p class="title is-4">Ia permisul de conducere cu usurinta!</p>
                      <p class="subtitle is-6">Cu ajutorul nostru o sa obtii permisul de conducere mult mai usor !</p>
                    </center>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
            

          </div>
        </div>
        <br><br><br><br>
      </section>
      <section id="Contact">
        <div class="container">
          <br>
          <!-- <center><h1 class="title">Hai in echipa EDS !</h1></center> -->
          <div class="columns m-6 is-centered">
            <div class="column is-6-desktop is-6-widescreen is-6-tablet is-12-mobile ">
              <br>
              <div class="card glow_green" data-aos="fade-up" data-aos-duration="600" style="min-height:100%;max-height: 100%">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" data-aos="zoom-out-up" data-aos-duration="600" data-aos-delay="600">
                      <center>
                      <p class="title is-4">Hai in echipa <strong>EDS</strong> !</p>
                      <article class="message is-success" data-aos="zoom-out-down" data-aos-duration="600" data-aos-delay="1200">
                        <div class="message-body">
                          Daca detii o scoala de soferi sau esti chiar tu un instructor auto si iti doresti ca orele tale de condus
                        si elevii pe care tu ii gestionezi sa aibe rezultate mult mai bune , te incurajam sa ne lasi datele tale de contact
                        iar noi te vom contacta in cel mai scurt timp posibil in scopul de a iti oferii acces pe platforma !
                        </div>
                      </article>
                      <center>
                        <div class="control" data-aos="zoom-out-left" data-aos-duration="1000">
                          <input class="input" type="text" placeholder="Nume" v-model="data.name">
                        </div>
                        <br>
                        <div class="control" data-aos="zoom-out-left" data-aos-duration="1000">
                          <input class="input" type="text" placeholder="Prenume" v-model="data.prename">
                        </div>
                        <br>
                        <div class="control" data-aos="zoom-out-left" data-aos-duration="1000">
                          <input class="input" type="text" placeholder="Email" v-model="data.email">
                        </div>
                        <br>
                        <div class="control" data-aos="zoom-out-left" data-aos-duration="1000">
                          <input class="input" type="text" placeholder="Numar de telefon" v-model="data.phone">
                        </div>
                        <br>
                        <button class="button is-success" style="width:100%" @click="send_data()" data-aos="zoom-out-down" data-aos-duration="1000">Trimite !</button>

                      <br>
                      </center>
                    </center>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br><br><br>
      </section>
    </div>


    



    <!-- TYPEWRITTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>

    <!-- ANIMATE ON SCROLL -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>


    <!-- VUE -->
    <script src="client/js/lib/vue.min.js"></script>

    <!-- BUEFY -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>


    <!-- LISTENERS -->
    <script src="client/js/scripts/index.js"></script>

    
  </body>
</html>